<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<h2>
  Administración de <b>colectivos</b>
</h2>
<button mat-icon-button class="material-symbols-outlined" (click)="crearBus()" title="Agregar colectivo">
  departure_board
</button>
<hr>
  <table>
    <tr *ngFor="let item of items">
        <td>
          <span>ID: {{ item.id }}</span><br>
          <span>Patente: {{ item.patente }}</span><br>
          <span>Total de aientos: {{ item.cantidadAsientos }}</span><br>
          <span>ModeloID: {{ item.modeloId }}</span><br>
          <br>
        </td>
        <td>
          <button mat-icon-button (click)="seleccionarBus(item)" title="Modificar colectivo">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="borrarBus(item)" title="Borrar colectivo">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </tr>
</table>